<!-- <footer style="@import 'shared/fonts.css'; font-family: 'Gotham Rounded'; display: flex; justify-content: center; font-weight: 400; align-items: baseline; font-size: 12px; margin-top: 2rem;">©2024 devBudy, Inc -->
<footer>
    <div style="visibility: hidden;"><br><br></div>
</footer>

</html> 