<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>Blog Loom</title>
    <link rel="stylesheet" href="/styles/LoginAndRegister.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/HomePage.css">
</head>

<header>
        <div class="navbar">
            <div class="nav-left">
                <a href="/">BLOG</a>
            </div>
                <div class="nav-middle">
                    <a href="/create">
                        <i class="fa-solid fa-pen-to-square icons"></i>
                    </a>
                    <!-- <a href="/my-posts" id="my-post-link">My Posts</a> -->
                </div>
                <div class="nav-right">
                    <a href="/my-posts">
                        <img src="/images/user.png" alt="" id="profile">
                    </a>

                    <div class="logout-cont">
                        <a href="/logout">
                            <i class="fa-solid fa-arrow-right-from-bracket logout-icon"></i>
                        </a>
                    </div>
                </div>
        </div>
</header>