<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>Create Post - Blog Loom</title>
    <link rel="stylesheet" href="/styles/CreatePost.css">

<div class="position-post-and-nav-container">
<%- include("partials/header.ejs") %>

<div class="space"></div>
<div class="header-text"><h1 class="all-posts">Publish a post</h1></div>

<form action="/submit-post" method="post" id="blog-form">

        <input type="text" name="author" id="author" placeholder="Author" class="input">

        <input type="text" name="title" id="title" placeholder="Title" class="input">

        <textarea name="content" id="content" placeholder="Content"></textarea>

    <button type="submit" value="Submit">Submit</button>
</form>
</div>
<!-- check to see if all fields are entered -->
<script>
    document.getElementById("blog-form").addEventListener("submit", 
    function(event){
        const author = document.getElementById("author").value.trim();
        const title = document.getElementById("title").value.trim();
        const content = document.getElementById("content").value.trim();
    
     if(!author || !title || !content){
        event.preventDefault();
         window.alert("All fields are required");  
        }
    });
</script>

<%- include("partials/footer.ejs") %>